.users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.user-card {
    width: 200px;
    margin: 15px;
    padding: 10px;
    &__header {
        display: flex;
        justify-content: left;
    }
    .mat-icon {
        margin-right: 10px;
    }
}