
<div class="actions">
   <mat-form-field appearance="outline">
     <mat-label>New photo title</mat-label>
     <input matInput placeholder="Photo title" id="photo" name="photoTitle" #photoTitle>
     <mat-icon matSuffix>add_photo_alternate</mat-icon>
   </mat-form-field>
   <mat-form-field appearance="outline">
      <mat-label>Photo URL</mat-label>
      <input matInput placeholder="Photo URL" id="url" name="url" #url>
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Thumbnail URL</mat-label>
      <input matInput placeholder="Thumbnail URL" id="thumbnail" name="thumbnail" #thumbnail>
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
   <button mat-raised-button color="accent" (click)="onAddPhoto(photoTitle.value, url.value, thumbnail.value)">Add photo</button>
 </div>

<div class="album">
   <div *ngFor="let photo of photos; let i = index">
      <mat-card class="photo-card">
         <mat-card-title-group>
            <mat-card-subtitle>{{photo.title}}</mat-card-subtitle>
            <a href="{{photo.url}}">
               <img src="{{photo.thumbnailUrl}}" height="150" width="150">
            </a>
         </mat-card-title-group>
         <mat-card-actions>
            <button mat-button (click)="onDeletePhoto(photo.id)">Delete</button>
         </mat-card-actions>
      </mat-card>

   </div>
</div>