<div class="actions">
  <mat-form-field appearance="outline">
    <mat-label>New album title</mat-label>
    <input matInput placeholder="Album title" id="albumTitle" name="albumTitle" #albumTitle>
    <mat-icon matSuffix>add_photo_alternate</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddAlbum(albumTitle.value)">Add album</button>
</div>

<div class="stats">
  <div>Albums: {{albums?.length}}</div>
  <div>Created: {{created}}</div>
  <div>Deleted: {{deleted}}</div>
</div>

<div class="albums">

  <div *ngFor="let album of albums; let i = index">
    <mat-card class="album-card">
      <div class="album-card__content">
        <div class="icon-box">
          <mat-icon>
            <span class="material-symbols-outlined">
              photo_library
            </span>
          </mat-icon>
        </div>
        <div class="title-section">
          <mat-card-title>{{album.title}}</mat-card-title>
          <mat-card-actions>
            <button mat-stroked-button color="primary" [routerLink]="['./album', album.id]">Visit</button>
            <button mat-stroked-button color="warn" (click)="onDeleteAlbum(album.id)">Delete</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>